@import "tailwindcss";

@layer components {
  .btn {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .btn-primary {
    background-color: oklch(62.3% 0.214 259.815);
    color: white;
  }
  .btn-neutral {
    background-color: oklch(26.9% 0 0);
    color: white;
  }

  .input-text {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
}
